{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/color.css">
<style>
  .card
  {
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25rem;
   box-shadow: 0 1rem 3rem rgba(0,0,0,.4)!important;
  }

  section.log {
   
    text-align: center;
    color: #ffffff;
    padding: 0;
}

.lead {
    color:#ff530d !important;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    
}
.bg-primary {
    background-color: #ff530d !important;
}
</style>

{% endblock %}


{% block body %}
<div class="container">
  <div class="row justify-items-center">
    <div class="col-md-6 mt-3 mx-auto">
        {% include "notify.html" %}
      <div class="card shadow-lg border-0">
        <div class="card-header">
          <h3 class="display-4"><i class="fas fa-user-shield "></i>Reset Password</h3>
        </div>
        <div class="card-body">
          <h3 class="card-title">Fill in your credentials</h3>
          <form method="post">
            <div class="form-group">
              <label for="email">Registerd Email Address</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-primary" id="basic-addon1"><i class="fas fa-envelope text-white"></i></span>
                </div>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="alex@gmail.com">
              </div>
              <small id="emailHelpId" class="form-text text-muted"></small>
            </div>
            <button class="btn btn-primary btn-lg btn-block"><span>Send verification mail</span>  </button>
            <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
            <a href="/login" class="lead" >Go to Login</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}