{% extends 'base.html' %}



{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
<script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
{% endblock %}


{% block body %}


<body>
  <!-- Top navigation -->
 
  <!-- Page sections | Home -->
  <section class="page-sections home vr-container" id="home">
    <div class="vr-overlay-content">
      <h1>Let's explore the virtual world.</h1>
    <button class="action"onclick="window.location.href = '/login';">Get Started</button>
    </div>
    <span class="attribution"><a href="#">By Ritvik Mehra</a></span>
    <a-scene class="vr-background" id="aframe-viewer">
      <a-entity rotation="0 0 0">
        <a-animation attribute="rotation" dur="150000" easing="linear" fill="forwards" to="0 360 0" repeat="indefinite"></a-animation>
        <a-sky src="https://upload.wikimedia.org/wikipedia/commons/1/18/Rheingauer_Dom%2C_Geisenheim%2C_360_Panorama_%28Equirectangular_projection%29.jpg"></a-sky>
      </a-entity>
    </a-scene>
  </section>
  <!-- Page sections | About -->
  <section class="page-sections about" id="about">
    <h2 class="section-title">About Us</h2>
    <p class="section-content">We are a Real Estate Company delivering what our customers are looking for, right from houses,apartments for rent to buying bunglos.We do make good use of technology to deliver the product to our customers there by increasing our clients and conversion rate. </p>
    <p class="section-content">The virtual tour of the property allowing our users to navigate the entire house/flat , all the interior stuff along with some brief information
      about each room(i.e., room specifications). For better understanding, this project provides
      the digital solution to walk through the entire house without event physically present there.
    </p>
  </section>
  <!-- Page sections | Product -->
  <section class="page-sections product" id="product">
    <h2 class="section-title">Product</h2>
    <p class="section-content">Our product provides best user friendly experience of buying a real estate
      property without even visiting it. If one company include a virtual property tour, the person
      viewing will be able to experience a realistic tour of the house while sitting at home, if done
      correctly will tangibly impact Company’s operating.</p>
    <p class="section-content">Clients can see a house without leaving their home.Spending a day driving from one house to the next, making notes and trying to remember them all can be grueling and time consuming not to mention costly (time and gas). Virtual tours allow to view any number of houses in a short space of time and compare one next to another behind the comfort of your computer screen.</p>
  </section>
</body>

{% endblock %}