 {% extends 'base.html' %}
 
 {% block css %}
 <link rel="stylesheet" href="/static/css/color.css">
 <style>
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        font-family: Arial;
    }
    
    /*
    .column {
        float: left;
        width: 25%;
        padding: 10px;
    }
    
 
    .column img {
        opacity: 0.8; 
        cursor: pointer; 
        border: 1px solid #ccc;
    }
    
    .column img:hover {
        opacity: 1;
        border: 1px solid #777;
    }
  
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    
    
    #imgtext {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: white;
        font-size: 20px;
    }
    
    
    .closebtn {
        position: absolute;
        top: 10px;
        right: 15px;
        color: white;
        font-size: 35px;
        cursor: pointer;
    }
    */
    .imgrid{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    .image{
        position: relative;
    }
    .delete-icon{
        position:absolute;
        top:.2rem;
        left: .2rem;
    }
    .delete-icon2{
        position:absolute;
      top:.2rem;
      right: .2rem;
      background-color: transparent;
      color:#2B3A42;
      border:0ch;
    }
    
    .jumbotron
    {
        background-color: #f3f5f4;  
    }
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.2);
}
    
    
    
</style>
{% endblock %}

{% block body %}
{% include "notify.html" %}
<div class="jumbotron">
    <h1 class="display-4">Welcome </h1>
    <hr class="my-2">
    <p class="lead">Choose any of the below tour</p>    
    
    <div class="form-check">
        <input class="form-check-input" type="checkbox" checked data-toggle="toggle" data-on="Published" data-off="Unpublished" data-onstyle="success" 
        data-offstyle="danger" data-bind="click: toggleView" name="publish" id="publishCheck"/>
    </div>
    
</div>

<div class="container">
    <div class="row imgrid">
        {% for item in vrlist %}
        {% if item.publish %}
        <div class="image publish">
            <img src="{{item.front}}" class="img-fluid shadow-sm" alt="">
            <a href="/vt/{{item.id}}" class="btn btn-primary btn-sm delete-icon"></i>Let's Tour</a>
            <a href="/remove_vt/{{item.id}}" class="btn btn-danger btn-sm delete-icon2"><i class="fa fa-trash"></i> </a>
            
        </div>
        {% elif item.user_id == current_user.id %}
        <div class="image draft">
            <img src="{{item.front}}" class="img-fluid shadow-sm" alt="">
            <a href="/vt/{{item.id}}" class="btn btn-primary btn-sm delete-icon"></i>Let's Tour</a>
            <a href="/remove_vt/{{item.id}}" class="btn btn-danger btn-sm delete-icon2"><i class="fa fa-trash"></i> </a>
            
        </div>
        {% endif %}
        
        {% endfor %}
    </div>
</div>

{% endblock %} 

{% block js %}
<script>
    $(".draft").addClass('d-none')
    $('#checkbox-value').text($('#publishCheck').val());
    $("#publishCheck").on('change', function() {
        if ($(this).is(':checked')) {
            $(".draft").addClass('d-none')
            $(".publish").removeClass('d-none')
        } else {
            $(".publish").addClass('d-none')
            $(".draft").removeClass('d-none')
        }
        
        $('#checkbox-value').text($('#publishCheck').val());
    });
</script>
{% endblock %}