


{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/color.css">
<style>
    hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0);
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.card {
    
    border: 1px solid rgba(0,0,0);
    
}
.card-header {
    background-color: rgb(243, 243, 243);
    
}
.card-fotter {
    background-color: rgb(243, 243, 243);
    
    
}
</style>
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-9 mx-auto mt-5">
            {% include "notify.html" %}
            <form method="post">
                <div class="card">
                    <div class="card-header">
                        <div class="display-4">InfoSpot Details</div>
                        <hr class="my-2">
                        <p class="lead">enter the cordinates</p>
                    </div>
                    <div class="card-body">
                        <div class="form-input">
                            <label for="x" class="form-label"><h5>x</h5></label>
                            <input type="text" class="form-control" name="x" value="0">
                            <label for="y" class="form-label"><h5>y</h5></label>
                            <input type="text" class="form-control" name="y" value="-1000">
                            <label for="z" class="form-label"><h5>z</h5></label>
                            <input type="text" class="form-control" name="z" value="-6000">
                        </div>
                        
                    </div>
                
                
                <div class ="card-footer">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-block"><span>submit</span></button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}
