{% extends 'base.html' %}

{% block css %}
<style>
  #panolens-separate-container {
    position: absolute;
    width: 100%;
    height: 100%;
    
  }
  
  #panolens-separate-container:-webkit-full-screen{
    left: 0;
    top: 0;
   
  }
  #panolens-separate-container:-moz-full-screen{
    left: 0;
    top: 0;
    
  }
  #panolens-separate-container:-ms-fullscreen{
    left: 0;
    top: 0;
    
  }
  #panolens-separate-container:fullscreen {
    left: 0;
    top: 0;
    
  } 
  
  /* html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
  } */
  
  a:link, a:visited{
    color: #bdc3c7;
  }
  
  .credit{
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: #fff;
  }
  
  #desc-container {
    max-width: 500px;
    max-height: 500px;
    min-width: 200px;
    min-height: 250px;
    background:antiquewhite; 
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    -webkit-overflow-scrolling: touch;
  }
  
  /* #desc-container > iframe {
    border: none;
    width:100%;
  } */
  
  .title {
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }
  
  .text {
    padding: 0 20px 20px 20px;
  }
</style>  
{% endblock %}
{% block body %}

<!-- <h1>{{vr.title}}</h1> -->
<div id="panolens-separate-container"></div>

<div id="desc-container" style="display:none">
  <!-- <iframe src="https://www.youtube.com/embed/D7icsuamx5E"></iframe> -->
  <div class="title">Description of {{vr.title}}</div>
  <div class="text">'{{info}}'</div>
</div>

{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>
<script src="/static/js/panolens.min.js"></script>

<script>
  
  var infospot, infospot2, panorama1, viewer;
  
  // infospot = new PANOLENS.Infospot();
  // infospot.position.set( 5000.00, -665.23, -3996.49);
  // infospot.position.set( 10000.00, -665.23, -3996.49);
  // infospot.addHoverText( 'The Where Is Bar' );
  
  infospot2 = new PANOLENS.Infospot( 300, PANOLENS.DataImage.Info );
  // infospot2.position.set(0, -1000,-6000);
  infospot2.position.set({{spx}} , {{spy}} , {{spz}});
  infospot2.addHoverElement( document.getElementById( 'desc-container' ), 200 );
  
  
  panorama1 = new PANOLENS.ImagePanorama('{{cube}}');
  panorama1.add(infospot2)

  panorama2 = new PANOLENS.ImagePanorama('/static/output/Realestate1/cube0001.jpg');

  viewer = new PANOLENS.Viewer({ container: document.querySelector( '#panolens-separate-container' ) });
  viewer.add( panorama1 );
  viewer.add( panorama2 );
  // Linking between panoramas

  // Pair 
  // -3145.23, -3704.40, 1149.48
  panorama1.link( panorama2, new THREE.Vector3( -3500,-1000,-7000 ) );
  panorama2.link( panorama1, new THREE.Vector3( -2229.01, 505.85, -5421.88 ) );

  
</script>
{% endblock %}