body {
    
    background-color: #f3f5f4;  
    /* #e5eaf5; */
    /* #f6ebf4; */
}

.btn-primary {
    border-radius: 4px;
    background-color: #ff530d;;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .btn-primary span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
  }

  .btn-primary span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .btn-primary:hover span {
    padding-right: 25px;
    
  }

.btn-primary:hover span:after {
  opacity: 1;
  right: 0;
}
